**iPhones** have consistently held their position as some of the **most successful smartphones globally**, a fact that never fails to captivate tech enthusiasts. To delve deeper into the fascinating world of iPhone sales, I embarked on a journey to explore and analyze a comprehensive iPhone sales dataset available on **Kaggle**. You can access the dataset through this link: [iPhone Sales Dataset on Kaggle](https://www.kaggle.com/datasets/komalkhetlani/apple-iphone-data)
 Through this analysis, my aim is to **extract valuable insights** and shed light on the enduring popularity of this iconic device.

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'notebook'
import kaleido

In [2]:
data = pd.read_csv('apple_iphones.csv')
data.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [3]:
data.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,80073.887097,88058.064516,9.951613,22420.403226,1861.677419,4.575806
std,34310.446132,34728.825597,7.608079,33768.589550,2855.883830,0.059190
min,29999.000000,39900.000000,0.000000,542.000000,42.000000,4.500000
25%,49900.000000,54900.000000,6.000000,740.000000,64.000000,4.500000
50%,75900.000000,79900.000000,10.000000,2101.000000,180.000000,4.600000
75%,117100.000000,120950.000000,14.000000,43470.000000,3331.000000,4.600000
max,140900.000000,149900.000000,29.000000,95909.000000,8161.000000,4.700000

In [4]:
data.isnull().sum()

Product Name           0
Product URL            0
Brand                  0
Sale Price             0
Mrp                    0
Discount Percentage    0
Number Of Ratings      0
Number Of Reviews      0
Upc                    0
Star Rating            0
Ram                    0
dtype: int64

As there are no nulls, we can start our analysis.

Let's check the top 10 **highest rated iphones** on our dataset.

In [6]:
df = data.sort_values(by=['Star Rating'], ascending=False )
df = df.head(10)
df[['Product Name', 'Number Of Ratings', 'Star Rating']]

,Product Name,Number Of Ratings,Star Rating
20,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",1078,4.7
17,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",1078,4.7
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",1078,4.7
15,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",1078,4.7
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",1078,4.7
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",3431,4.6
29,"APPLE iPhone 12 (White, 128 GB)",2101,4.6
32,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",580,4.6
35,"APPLE iPhone 12 (Black, 128 GB)",2101,4.6
36,"APPLE iPhone 12 (Blue, 128 GB)",2101,4.6

As we can see, below are the top **3 most liked iphones** on our dataset.

1.APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)

2.APPLE iPhone 11 Pro Max (Space Grey, 64 GB)

3.APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)

Now, let's visualize the **number of ratings** of our top 10 rated iPhones.

In [15]:
top10_iphones = df.groupby('Product Name')['Number Of Ratings'].sum().reset_index()
top10_iphones = top10_iphones.sort_values(by=['Number Of Ratings'], ascending=False)

fig = px.bar(top10_iphones, x='Product Name', y='Number Of Ratings', title='Number of Ratings for most liked iPhones')
fig.write_image("my_plot1.png")

![Number of Ratings for most liked iPhones](my_plot1.png)

According to our bar graph above, iPhone 8 Plus (Gold, 64 GB) is the most rated iPhone, 
followed by iPhone 12 (Black, 128 GB) and iPhone 12 (Blue, 128GB)

Now, let's visualize the **number of reviews** of our top 10 rated iPhones.

In [14]:
top10_iphones = df.groupby('Product Name')['Number Of Reviews'].sum().reset_index()
top10_iphones = top10_iphones.sort_values(by=['Number Of Reviews'], ascending=False)

fig = px.bar(top10_iphones, x='Product Name', y='Number Of Reviews', title='Number of Reviews for most liked iPhones')
fig.write_image("my_plot2.png")

![Number of Reviews for most liked iPhones](my_plot2.png)

As we can see, iPhone 8 Plus (Gold, 64 GB) is also leading the highest reviews chart.
followed by the same 2 iPhone 12 (Black, 128 GB) and iPhone 12 (Blue, 128 GB).

Now, Let's check the relation between the **sales prices** of the iPhones and their **ratings**.

In [13]:
fig = px.scatter(data_frame = data, x='Number Of Ratings', y='Sale Price', size='Discount Percentage', trendline='ols', title='Sale Price and Number of Ratings of all iPhones')
fig.write_image("my_img1.png")

![Sale Price and Number of Ratings of all iPhones](my_img1.png)

We can see a negative linear relationship between **sale price** to it's **number of ratings**.

Our main insight is iPhone with lower sale prices are sold and rated more.

Now, Let's check the relation between the **discount percentage** of the iPhones and their **number of ratings**.

In [12]:
fig = px.scatter(data_frame = data, x='Number Of Ratings', y='Discount Percentage', size='Sale Price', trendline='ols', title='Discount Percentage and Number of Ratings of all iPhones')
fig.write_image("my_img2.png")

![Discount Percentage and Number of Ratings of all iPhones](my_img2.png)

We can see a positive linear relationship between **discount percentage** to **it's number of ratings**

Our main insight is iPhone with an higher discount percentage is sold and rated more.

**Summary**

1. We can see that the most rated reviewed and sold is the iPhone 8 Plus (Gold, 64GB)
2. iPhones with lower sale prices are sold more.
3. iPhones with higher discount percentage are sold more.